In [1]:
import pandas as pd
import numpy as np
import time
import pymysql
# 不显示警告信息
import warnings
warnings.filterwarnings('ignore')

from pyecharts.charts import Bar3D

# 加载数据

**加载 sales.xlsx 的数据，包含5个sheet：'2015'、'2016'、'2017'、'2018'、'会员等级'**

In [2]:
sheet_names = ['2015', '2016', '2017', '2018', '会员等级']
sheet_datas = [pd.read_excel('./data/sales.xlsx', sheet_name=i, engine='openpyxl') for i in sheet_names]
sheet_datas

[              会员ID         订单号       提交日期    订单金额
 0      15278002468  3000304681 2015-01-01   499.0
 1      39236378972  3000305791 2015-01-01  2588.0
 2      38722039578  3000641787 2015-01-01   498.0
 3      11049640063  3000798913 2015-01-01  1572.0
 4      35038752292  3000821546 2015-01-01    10.1
 ...            ...         ...        ...     ...
 30769  39368100847  4281994827 2015-12-31   828.0
 30770       409757  4282010457 2015-12-31   199.0
 30771  38380526114  4282017675 2015-12-31   208.0
 30772     28074988  4282019440 2015-12-31    89.0
 30773  39460363230  4282025309 2015-12-31   719.0

 [30774 rows x 4 columns],
               会员ID         订单号       提交日期     订单金额
 0      39288120141  4282025766 2016-01-01    76.00
 1      39293812118  4282037929 2016-01-01  7599.00
 2      27596340905  4282038740 2016-01-01   802.00
 3      15111475509  4282043819 2016-01-01    65.00
 4      38896594001  4282051044 2016-01-01    95.00
 ...            ...         ...        ...      ...
 41273  35336052906  4324910145 2016-12-31    99.00
 41274  39305835721  4324910148 2016-12-31   238.89
 41275  39296945352  4324910770 2016-12-31   765.00
 41276  14791026234  4324911025 2016-12-31    45.80
 41277  16779755770  4324911048 2016-12-31   119.00

 [41278 rows x 4 columns],
               会员ID         订单号       提交日期    订单金额
 0      38765290840  4324911135 2017-01-01  1799.0
 1      39305832102  4324911213 2017-01-01   369.0
 2      34190994969  4324911251 2017-01-01   189.0
 3      38986333210  4324911283 2017-01-01   169.0
 4          4271359  4324911355 2017-01-01    78.0
 ...            ...         ...        ...     ...
 50834  39155833075  4338762307 2017-12-31    96.0
 50835  29523124076  4338762514 2017-12-31    99.0
 50836      7807573  4338762906 2017-12-31   258.0
 50837  36642530033  4338762958 2017-12-31   286.0
 50838  39155901156  4338763879 2017-12-31   249.0

 [50839 rows x 4 columns],
               会员ID         订单号       提交日期    订单金额
 0      39229691808  4338764262 2018-01-01  3646.0
 1      39293668916  4338764363 2018-01-01  3999.0
 2      35059646224  4338764376 2018-01-01    10.1
 3          1084397  4338770013 2018-01-01   828.0
 4          3349915  4338770121 2018-01-01  3758.0
 ...            ...         ...        ...     ...
 81344  39229485704  4354225182 2018-12-31   249.0
 81345  39229021075  4354225188 2018-12-31    89.0
 81346  39288976750  4354230034 2018-12-31    48.5
 81347     26772630  4354230163 2018-12-31  3196.0
 81348  39455580335  4354235084 2018-12-31  2999.0

 [81349 rows x 4 columns],
                会员ID  会员等级
 0            100090     3
 1       10012905801     1
 2       10012935109     1
 3       10013498043     1
 4       10014087899     4
 ...             ...   ...
 154380       998138     3
 154381       998298     1
 154382       998571     4
 154383       999563     4
 154384       999951     1

 [154385 rows x 2 columns]]

**zip方法的使用**

In [10]:
# sheet_names = ['2015', '2016', '2017', '2018', '会员等级']
# sheet_datas = ['数据1', '数据2', '数据3', '数据4', '数据5']

# for a, b in zip(sheet_names, sheet_datas):
#     print(a, b)

2015 数据1
2016 数据2
2017 数据3
2018 数据4
会员等级 数据5

**any方法的使用**

In [4]:
df = pd.DataFrame([
    [1, 2, 3],
    [np.nan, 4, 5],
    [4, 5, 6],
    [7, np.nan, 8]
], columns=['a', 'b', 'c'])
df

     a    b  c
0  1.0  2.0  3
1  NaN  4.0  5
2  4.0  5.0  6
3  7.0  NaN  8

In [5]:
df.isnull()

       a      b      c
0  False  False  False
1   True  False  False
2  False  False  False
3  False   True  False

In [6]:
df.isnull().any()

a     True
b     True
c    False
dtype: bool

In [7]:
df.isnull().any(axis=1)

0    False
1     True
2    False
3     True
dtype: bool

In [8]:
df.isnull().any(axis=1).sum()

2

In [9]:
for each_name, each_data in zip(sheet_names, sheet_datas):
    print('[data summary for ============={}===============]'.format(each_name))
    print('Overview:', '\n', each_data.head(4))# 展示数据前4条
    print('DESC:', '\n', each_data.describe())# 数据描述性信息
    print('NA records', each_data.isnull().any(axis=1).sum()) # 缺失值记录数    
    print('Dtypes', each_data.dtypes) # 数据类型

[data summary for =============2015===============]

AttributeError: 'str' object has no attribute 'head'

# 数据预处理

**缺失值和异常数据的处理**

In [ ]:
# 去除缺失值和异常值
for i, each_data in enumerate(sheet_datas[:-1]):
    sheet_datas[i] = each_data.dropna()
    sheet_datas[i] = each_data[each_data['订单金额'] > 1]
    sheet_datas[i]['max_year_date'] = each_data['提交日期'].max()

**合并 2016-2018 这四年的订单数据**

In [ ]:
# 汇总所有数据
data_merge = pd.concat(sheet_datas[:-1])
data_merge

**对订单数据进行处理，增加两列：year、date_interval**

**汇总每1年每个会员RFM的原始数据**

# RFM 计算

**确定 RFM 划分区间的边界值**

**定义区间边界**

**将 r、f、m 这 3 列划分区间**

**将r_score、f_score、m_score三列转换为str类型**

**将 r_score、f_score、m_score这3列的内容进行拼接**

# RFM 结果保存

**将 rfm 的结果保存到 excel 文件**

In [ ]:
rfm_group.to_excel('./data/sales_rfm_score.xlsx', index=False)

**将 rfm 的结果保存到 sales_rfm_score 表中**

# RFM 结果可视化

**使用 pyecharts 绘制 3D 柱形图**