In [1]:
import os

In [2]:
os.environ['JAVA_HOME'] = 'C:/Java/jdk1.8.0_241'
os.environ['HADOOP_HOME'] = 'C:/Hadoop/hadoop-3.3.0'
os.environ['PYSPARK_PYTHON'] = 'C:/Users/JohnChow/anaconda3/python.exe'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'C:/Users/JohnChow/anaconda3/python.exe'

In [3]:
# 创建SparkSession实例对象
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession.builder \
.appName("SparkSQL on Jupyter Notebook Example") \
.master("local[*]") \
.config('spark.sql.shuffle.partitions', '2') \
.getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x000001E6C96A0940>

In [4]:
# 加载json数据, 封装DataFrame
people_df = spark.read.json('../datas/resources/people.json')
people_df.printSchema()
people_df.show(10, False)

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

+----+-------+
|age |name   |
+----+-------+
|null|Michael|
|30  |Andy   |
|19  |Justin |
+----+-------+

In [5]:
# 基于SQL查询分析
people_df.createOrReplaceTempView('view_tmp_people')

sql_df = spark.sql(
"""
    select
        *
    from
        view_tmp_people
"""
)
sql_df.printSchema()
sql_df.show(10, False)

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

+----+-------+
|age |name   |
+----+-------+
|null|Michael|
|30  |Andy   |
|19  |Justin |
+----+-------+

In [8]:
dsl_df = people_df.select('age', 'name')
dsl_df.printSchema()
dsl_df.show(10, False)

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

+----+-------+
|age |name   |
+----+-------+
|null|Michael|
|30  |Andy   |
|19  |Justin |
+----+-------+