In [1]:
import pandas as pd

## DataFrame 条件查询操作

**加载 scientists.csv 数据集**

In [2]:
scientists = pd.read_csv('./data/scientists.csv')
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin   1920/7/25   1958/4/16   37             Chemist
1        William Gosset  1876-06-13  1937/10/16   61        Statistician
2  Florence Nightingale  1820-05-12   1910/8/13   90               Nurse
3           Marie Curie  1867-11-07    1934/7/4   66             Chemist
4         Rachel Carson   1907/5/27   1964/4/14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing         NaN    1954/6/7   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

**示例：获取 Age 大于 60 且 Age < 80 的科学家信息**

**示例：筛选出职业是 Chemist 和 Nurse 的科学家数据**

## DataFrame 分组聚合操作

**示例：按照 Occupation 职业分组，并计算每组年龄的平均值**

**示例：按照 Occupation 职业分组，并计算每组的人数和年龄的平均值**

## DataFrame 排序操作

**示例：按照 Age 从小到大进行排序**

**示例：按照 Age 从大到小进行排序**

**示例：按照行标签从大到小进行排序**

**补充：Series的sort_index和sort_values**

## nlargest 和 nsmallest 函数

**示例：获取 Age 最大的前 3 行数据**

**示例：获取 Age 最小的前 3 行数据**

## Pandas 基本绘图操作

**示例：计算不同职业的科学家的平均寿命**