In [1]:
import pandas as pd

# 透视表操作示例

##### 作用：对 DataFrame 进行透视表操作，本质是进行分组聚合
**pd.pivot_table(df, index, columns, values, aggfunc='mean')**<br/>
或<br/>
**df.pivot_table(index, columns, values, aggfunc='mean')**<br/>
参数：<br/>
* df：DataFrame数据
* index：指定列标签，该列的值作为结果中的行标签
* columns：指定列标签，该列的值作为结果中的列标签
* values：指定列标签，依据index和columns指定的列一起分组，并对values指定的列进行聚合
* aggfunc：聚合方法，默认是mean

## 示例1

**加载优衣库门店销售数据 uniqlo.csv**

In [2]:
uniqlo = pd.read_csv('./data/uniqlo.csv')
uniqlo.head()

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9

In [3]:
uniqlo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22293 entries, 0 to 22292
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      22293 non-null  int64
 1   city          22293 non-null  object
 2   channel       22293 non-null  object
 3   gender_group  22293 non-null  object
 4   age_group     22293 non-null  object
 5   wkd_ind       22293 non-null  object
 6   product       22293 non-null  object
 7   customer      22293 non-null  int64
 8   revenue       22293 non-null  float64
 9   order         22293 non-null  int64
 10  quant         22293 non-null  int64
 11  unit_cost     22293 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 2.0+ MB

**示例1：统计不同种类产品在不同城市的销量**

In [4]:
# 分组聚合

In [5]:
# 透视表操作

## 示例2

In [6]:
uniqlo

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

**示例2：统计不同城市、不同渠道，不同种类产品的销售额**

In [7]:
# 分组聚合

In [8]:
# 透视表操作

## 示例3

In [9]:
uniqlo

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

**示例3：统计不同种类产品的销售额**

In [10]:
# 分组聚合

In [11]:
# 透视表操作

## 示例4

In [12]:
uniqlo

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

**示例4：统计不同城市销售的产品种类数和产品的总销售额**

In [13]:
# 分组聚合

In [14]:
# 透视表操作