In [1]:
import pandas as pd

# apply 自定义函数

## Series 的 apply 方法

##### 语法：series.apply(func)
**作用：将 series 中的每个元素传递给 func 函数的参数，func函数的返回值，最终组成一个新的 Series**

In [3]:
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]})
df

    a   b
0  10  20
1  20  30
2  30  40

## DataFrame 的 apply 方法

##### 语法：dataframe.apply(func)
**作用：将 dataframe 中的每列数据传递给 func 函数的参数，func函数的返回值，最终组成一个新的 Dataframe**

##### 语法：dataframe.apply(func, axis=1)
**作用：将 dataframe 中的每行数据传递给 func 函数的参数，func函数的返回值，最终组成一个新的 Dataframe**

##### 语法：dataframe.applymap(func)
**作用：将 dataframe 中的每个元素传递 func 函数的参数，func函数的返回值，最终组成一个新的 Dataframe**

# apply 使用案例

In [7]:
titanic = pd.read_csv('./data/titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

##### ① 统计每列缺失值的个数

##### ② 统计每列缺失值的占比

##### ③ 统计每列非缺失值的占比

##### ① 统计每行缺失值的个数

##### ② 统计每行缺失值的占比

##### ③ 统计每行非缺失值的占比