In [1]:
import pandas as pd

# Pandas 数据整合

## concat 拼接数据

##### 作用：将 dataframe 或 series 数据按行和按列进行拼接

### 行拼接：按照列标签索引对齐

#### DataFrame和DataFrame 进行拼接

In [3]:
df1 = pd.read_csv('./data/concat_1.csv')
df2 = pd.read_csv('./data/concat_2.csv')
df3 = pd.read_csv('./data/concat_3.csv')

In [4]:
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [5]:
df2

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [6]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

#### DataFrame 和 Series 进行拼接

In [7]:
new_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
new_series

0    n1
1    n2
2    n3
3    n4
dtype: object

### 列拼接：按照行标签索引对齐

#### DataFrame和DataFrame 进行拼接

#### DataFrame 和 Series 进行拼接

In [8]:
new_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
new_series

0    n1
1    n2
2    n3
3    n4
dtype: object

### concat join 参数的设置

##### concat 方法的 join参数：
**1）默认为 outer：无法对齐的行/列，默认在拼接后的数据中会填充为 NaN，因为默认拼接是 outer 拼接**<br/>
**2）设置为 inner：只有能够对齐的行/列，才会出现在拼接的结果中**

## merge 关联数据

##### 作用：类似于 sql 中的 join 语句，用于两个数据集之间按照行标签列或列标签列进行连接，默认是inner，可以设置为：left、right、outer

**加载部门数据和员工数据**

**将部门数据和员工数据进行关联**

## join 关联数据

##### 作用：join 方法类是 merge 方法的一个特殊情况，被调用的数据集按照行标签列或列标签列和另一个数据集的行标签列进行关联，
##### 默认是left，可以设置为：right，inner、outer

In [14]:
# 加载股票数据集
stock_2016 = pd.read_csv('./data/stocks_2016.csv')
stock_2017 = pd.read_csv('./data/stocks_2017.csv')
stock_2018 = pd.read_csv('./data/stocks_2018.csv')