In [1]:
import pandas as pd

# 数据分组操作

## MultiIndex 多级标签

**加载 gapminder.tsv 数据**

**将 year 和 country 两列设置为行标签**

**根据一级行标签获取数据，示例：获取 1952 年的数据**

**根据一级、二级行标签获取数据，示例：获取 1952 年中国的数据**

## 分组聚合操作

**加载 gapminder.tsv 数据集**

In [6]:
gapminder = pd.read_csv('./data/gapminder.tsv', sep='\t')
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

### 内置聚合函数使用

**示例：计算每年期望年龄的平均值**

**示例：统计每年预期寿命的最小值、最大值和平均值**

**示例：统计每年的人均寿命和GDP的最大值**

### 自定义聚合函数使用

**示例：计算每年期望年龄的平均值(自定义聚合函数)**

**示例：统计每年的平均年龄和所有平均年龄的差值(自定义聚合函数)**

## 分组 transform 转换

##### transform 转换，需要把 DataFrame 中的值传递给一个函数， 而后由该函数"转换"数据
##### aggregate(聚合) 返回单个聚合值，但 transform 不会减少数据量

### transform 基本使用

**需求：按年分组，并计算组内每个人的预期寿命和该组平均年龄的差值**

### transform 案例：分组填充缺失值

**加载 tips.csv 数据集，并从其中随机取出 10 条数据**

**构建缺失值**

**分组查看缺失情况**

**定义函数，按性别分组填充缺失值**

## 分组 filter 过滤

##### 使用 groupby 方法还可以过滤分组区数据，调用 filter 方法，传入一个返回布尔值的函数，返回 False 的分组数据会被过滤掉

**使用 tips.csv 用餐数据集，加载数据并不同用餐人数的数量**

In [19]:
tips = pd.read_csv('./data/tips.csv')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

**统计不同用餐人数的数量**

## DataFrameGroupBy 对象

### 分组对象的基本属性和方法

**加载 tips.csv 数据集，随机取出其中的 10 条数据**

In [ ]:
tips_10 = pd.read_csv('./data/tips.csv').sample(10, random_state=42)
tips_10

### 遍历分组对象

### 按照多列进行分组