In [1]:
import seaborn as sns

# 加载数据

In [2]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# 单变量绘图

## 直方图 vs 密度图

**示例：查看客户消费金额 total_bill 的分布情况**

In [3]:
# 直方图

In [4]:
# 密度图

In [5]:
# 直方图 vs 密度图

## 箱线图 vs 小提琴图

**示例：查看客户消费金额 total_bill 的分布情况**

In [6]:
# 箱线图

In [7]:
# 小提琴图

## 条形图 vs 计数条形图

**示例：按照 day(周几) 统计每天的消费数量**

In [8]:
# 条形图
result = tips['day'].value_counts()
result

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [9]:
# 计数条形图

# 双变量绘图

## 散点图 vs 蜂巢图

**示例：查看消费数据中消费 tip 随着消费金额 total_bill 的变化情况**

In [10]:
# 散点图

In [11]:
# 蜂巢图

## 条形图 vs 折线图

**示例：按 day(周几) 统计每餐消费的平均值并绘图**

In [12]:
# 条形图
result = tips.groupby('day').total_bill.mean()
result

day
Thur    17.682742
Fri     17.151579
Sat     20.441379
Sun     21.410000
Name: total_bill, dtype: float64

**示例：按 day(周几) 统计每餐消费的平均值并绘图**

In [13]:
# 折线图
result = tips.groupby('day').total_bill.mean()
result

day
Thur    17.682742
Fri     17.151579
Sat     20.441379
Sun     21.410000
Name: total_bill, dtype: float64

# 多变量绘图

## 散点图 vs 折线图

In [14]:
# 散点图：查看不同性别的消费客户中，消费 tip 随着消费金额 total_bill 的变化情况

In [15]:
# 折线图：查看不同性别的消费客户中，消费金额 total_bill 随着 day 的变化情况