In [57]:
import pandas as pd
# 不显示警告信息
import warnings
warnings.filterwarnings('ignore')

# 加载数据

**加载 sales.xlsx 的数据，包含5个sheet：'2015'、'2016'、'2017'、'2018'、'会员等级'**

**zip方法的使用**

In [4]:
sheet_names = ['2015', '2016', '2017', '2018', '会员等级']
sheet_datas = ['数据1', '数据2', '数据3', '数据4', '数据5']

for a, b in zip(sheet_names, sheet_datas):
    print(a, b)

2015 数据1
2016 数据2
2017 数据3
2018 数据4
会员等级 数据5

**any方法的使用**

In [8]:
import numpy as np

df = pd.DataFrame([
    [1, 2, 3],
    [np.nan, 4, 5],
    [4, 5, 6],
    [7, np.nan, 8]
], columns=['a', 'b', 'c'])
df

     a    b  c
0  1.0  2.0  3
1  NaN  4.0  5
2  4.0  5.0  6
3  7.0  NaN  8

In [9]:
df.isnull()

       a      b      c
0  False  False  False
1   True  False  False
2  False  False  False
3  False   True  False

In [10]:
df.isnull().any()

a     True
b     True
c    False
dtype: bool

In [11]:
df.isnull().any(axis=1)

0    False
1     True
2    False
3     True
dtype: bool

In [12]:
df.isnull().any(axis=1).sum()

2

# 数据预处理

**缺失值和异常数据的处理**

**合并 2016-2018 这四年的订单数据**

**对订单数据进行处理，增加两列：year、date_interval**

**汇总每1年每个会员RFM的原始数据**

# RFM 计算

**确定 RFM 划分区间的边界值**

**定义区间边界**

**将 r、f、m 这 3 列划分区间**

**将r_score、f_score、m_score三列转换为str类型**

**将 r_score、f_score、m_score这3列的内容进行拼接**

# RFM 结果保存

**将 rfm 的结果保存到 excel 文件**

In [47]:
rfm_group.to_excel('./data/sales_rfm_score.xlsx', index=False)

**将 rfm 的结果保存到 sales_rfm_score 表中**

# RFM 结果可视化

**使用 pyecharts 绘制 3D 柱形图**